* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: "Montserrat", sans-serif;
}
body {
	background: #eee;
}

header {
	background-color: #f05dba;
	padding: 1rem 2rem;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
header h1 {
	color: #fff;
	font-family: "McLaren", cursive;
	font-weight: 200;
}

footer {
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: 2.5rem;

	color: #c68f9c;
}
footer a {
	text-decoration: none;
	color: #eaa895;
}

.note {
	background: #fff;
	width: 240px;
	border-radius: 7px;
	padding: 0.625rem;
	margin: 1rem;
	float: left;
}
.note h1 {
	font-size: 1.1rem;
	margin-bottom: 0.5rem;
}
.note p {
	font-size: 1.1rem;
	margin-bottom: 0.5rem;
}











